<!DOCTYPE html>
<html>
 <head>
 	<title> Friends Page </title>
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='handytrace.css') }}"/>
 	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 </head>
 <body>
 	<header>
  		<nav>
  			<ul class="headerbar" >
  				<!-- <li><a href="" ><img src="logo.png" class="logothumbnail" alt="HandyTrace Logo" > </a> </li> -->
  			 <li class="headerbar" ><a href="/home"> Home </a> </li>
          <li class="headerbar"><a href="/friends" >Friends </a></li>
          <li class="headerbar"><a href="/addfriends" > Add Friends </a></li>
          <li class="headerbar"><a href="/searchplace" > Search Place </a></li>
          <li class="headerbar"><a href="/mylocations" > My Locations </a></li>
          <li class="headerbar"><a href="/welcome"> Logout </a></li>  	
  			</ul>				
  		</nav>
  	</header>
 	 	<div class="unique1">
      <p> Invitation was sent to {{friend}}</p>
    
      

    </div>
 			


 </body>
</html>