<!DOCTYPE html>
<html>
 <head>
 	<title> Sign-in Page </title>
 	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='handytrace.css') }}"/>
 	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
 </head>
 <body>
 	<div class="logocenter w3-animate-opacity" >
 		<img src="{{ url_for('static', filename='logo.png') }}" alt="HandyTrace Logo" >
 	</div>
 	<div class="unique1">
 		<table class="stable">
 			<tr>
 				<td>Username:</td>
 				<td> <input type="text" id="username" /> </td>
 			</tr>
 			<tr>
 				<td>Password: </td>
 				<td><input type="password" id="password" />  </td> 
 			</tr>
 		</table>
 		<a class="button" href="/home">Sign In</a> <br><br>
 		<a href="/signup"> Don't have an account </a> 

 	</div>
 </body>
</html>